body {
    background-color: gray;
}

p {
    font-size: 25px;
    color: white;
    padding: 1px;
}

img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

.z {
    color: orange;
    font-size: 26px;
}